
.hero-image{
    background-image: url(images/hero-image.jpg);
    height: 300px;
    width: 100%;
    max-height: 300px;
    
}

.hero-image h2{
    color: #fe0000;
    padding: 100px 0px 0px 0px; 
}



.container img1{
    padding: 0px 0px 350px 0px;
}

body{
    background-image: url(images/bg-image.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    min-width: 30%;
}