*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

#logo, #navigation{
    padding-top: 20px;
}

header{
    background-color: #fff;
}

header a:link {
    color: #fe0000;
    text-decoration: none;
}

header a:visited {
    color: #fe0000;
}

header a:hover {
    color: #fff;
    background-color: #fe0000;
}

h1{
    font-family: 'Kumar One Outline', cursive;
    color: #fe0000;
}

h1:hover{
    font-weight: 600;
}

.hero-image{
    background-image: url(images/hero-image.jpg);
    height: 300px;
    width: 100%;
    max-height: 300px;
    
}

.hero-image h2{
    color: #fe0000
#footer{
    background-color: #000;   
}

#footer li{
    padding-top: 20px;
    text-align: right;
}

#footer h1{
    color: #fff;
    padding-top: 20px;
}

#footer h1:hover{
    color: #fe0000;
}

#footer p{
    padding-top: 25px;
    color: white;
    text-align: center;
}

#footer i{
    color: white;
    padding: 20px;
}

#footer a:link {
    color: royalblue;
    text-decoration: none;
}

#footer i:hover {
    color: #fe0000;
}

